<div class="auth">
  <form [formGroup]="loginForm" class="auth-form" (ngSubmit)="onSubmit()">
    <h2 class="auth-title">Login</h2>
    <mat-form-field>
      <mat-label>*Email</mat-label>
      <input matInput placeholder="Enter your email" type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>*Password</mat-label>
      <input matInput placeholder="Enter your password" type="password" formControlName="password" />
    </mat-form-field>
    <div class="auth-form-bottom">
      <a mat-button routerLink="/sign-up" (click)="hello()">I don't have an account</a>
      <button mat-raised-button color="primary">Sign In</button>
    </div>
  </form>
</div>
