<div class="auth">
  <form [formGroup]="singInForm" class="auth-form" (ngSubmit)="onSubmit()">
    <h2 class="auth-title">Sing In</h2>
    <mat-form-field>
      <mat-label>*Email</mat-label>
      <input matInput placeholder="Enter your email" type="email" formControlName="email" />
      <mat-error *ngIf="errorMessages('email') !== null">
        {{ errorMessages('email') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>*Password</mat-label>
      <input matInput placeholder="Enter your password" type="password" formControlName="password" />
      <mat-error *ngIf="errorMessages('password') !== null ">
        {{ errorMessages('password') }}
      </mat-error>
    </mat-form-field>
    <div class="auth-form-bottom">
      <a mat-button routerLink="/sign-up">I don't have an account</a>
      <button mat-raised-button color="primary" [disabled]="!singInForm.valid">Sign me in</button>
    </div>
  </form>
</div>
