@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-pink);
$warn: mat-palette($mat-deep-orange);

$tt-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($tt-theme);
